*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grid{
  display: grid;

  grid-template-areas:
      'MP AJ'
      'DT SC';

  height: 100vh;
}

.map{
  grid-area: MP;
}

.help{
  grid-area: AJ;
}

.data{
  grid-area: DT;
}

.score{
  grid-area: SC;
}