#dashboard-page-content .navigation-bar{
  width: 250px;
  height: 120vh;

  background-color: #fff;
}

#dashboard-page-content .navigation-bar img{
  width: 250px;
  height: 250px;

  margin: -15px 0;
}