#dashboard-page-content .navigation-bar{
  width: 250px;
  height: 120vh;

  justify-content: center;
  align-items: center;
  align-content: center;

  background-color: #fff;
}

#dashboard-page-content .navigation-bar img{
  width: 250px;
  height: 250px;

  margin: -15px 0;
  
}

#dashboard-page-content .navigation-bar .ds1Btn{
  text-decoration: none;
  color: #000;
}

#dashboard-page-content .navigation-bar .ds2Btn{
  text-decoration: none;
  color: #000;
  margin-bottom: 200px;
}

#dashboard-page-content .navigation-bar .backBtn{
  margin-left: 80px;
  width: 250px;
  height: 250px;
}