#landing-page-content{
  align-items: center;
  align-content: center;
  justify-content: center;
}

#landing-page-content .page-header{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#landing-page-content .page-header img{
  width: 200px;
  height: 200px;
}

#landing-page-content main aside{
  float: right;
  margin-top: 300px;
  width: 30%;
}

.enter-button{
  text-decoration: none;
  width: 300px;
  height: 200px;

  padding: 20px;

  background-color: #2AB795;
}